.RightMenu {
  position: fixed;
  right: 0;
  top: 110px;
  height: 77vh;
  background-color: #fff;
  width: 300px;
  transition: all 0.15s linear;

  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    h3 {
      padding: 20px;
      margin: 0;
      font-weight: 500;
      font-size: 18px;
      color: var(--blueText);
    }
    img {
      width: 24px;
      height: 24px;
      cursor: pointer;
      @include HoverActive;
      transform: scaleX(-1);
      transition: all 0.15s linear;
    }
    .rotate {
      transform: scaleX(1);
      transition: all 0.15s linear;
    }
  }

  h4 {
    padding: 10px 20px;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--blueText);
  }

  .position {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
    .input_box {
      @include InputBox2;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      width: 110px;
      height: 40px;
      span {
        margin-right: 10px;
      }
      input {
        height: 100%;
        width: 80px;
        text-align: center;
        padding: 0;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    .actions_container {
      display: flex;
      flex-direction: column;
      padding: 10px 20px;
      .delete {
        @include ButtonRedBorder;
        border: (1px) solid #b32020 !important;
        padding: 4px;
        border-radius: 12px;
      }

      .edit {
        @include ButtonBlueLight;
        padding: 4px;
        border-radius: 12px;
        font-size: 14px;
        font-weight: 400;
        margin-top: 10px;
      }
    }
  }

  .object_info {
    padding-bottom: 10px;
    .scroll {
      max-height: 32vh;
      overflow-y: auto;
      @include ScrollBar;
      margin-right: 15px;
    }
    .object_info_container {
      padding-left: 20px;
      padding-right: 20px;
      h4 {
        padding-left: 0;
        color: #000000;
        font-size: 16px;
        &::after {
          content: "";
          width: 100%;
          height: 1px;
          background-color: #000000;
          display: block;
          margin-bottom: 5px;
        }
      }
      .text_box {
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
        .name {
          font-size: 16px;
          font-weight: 500;
          color: #000;
          padding-bottom: 2px;
        }
        .value {
          font-size: 16px;
          font-weight: 400;
          color: #656565;
          padding-left: 10px;
          &::before {
            content: "•";
            padding-right: 10px;
          }
        }
      }
    }
  }
}

.RightMenuClose {
  right: calc(-240px) !important;
  transition: all 0.15s linear;
}
