# Игнорировать виртуальные окружения
venv/
.env/
.venv/

# Игнорировать файлы кэша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать лог-файлы
*.log

# Игнорировать временные файлы IDE (например, VSCode, PyCharm)
.vscode/
.idea/

# Игнорировать Jupyter ноутбуки чекпоинты (если используешь)
.ipynb_checkpoints/

# Игнорировать файлы операционных систем
.DS_Store
Thumbs.db
